


.input {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 15px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media(max-width: 500px) {
    .input {
        padding: 10px 20px;
    }
}