@import "/src/variables.module.scss";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $gray-3;

}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 35%;
    padding: 2rem;
    background-color: $white;
}

.loginTitle {
    margin-bottom: $size-30px;
}



@media(max-width: 800px) {
    .loginForm {
        width: 70%;
        padding: 1.5rem;
    }

    

}