


.container {
    display: flex;
    justify-content: center;
    background-color: #ddd;
    height: 100vh;

}



.content {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    background-color: #fff;
    overflow: scroll;
}

.contentHeader {
    width: 100%;
    padding: 27px 37px;
    background: #000;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.3rem;
    font-weight: bold;
}



.formPost {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 45px 38px 35px;
    padding: 30px;
    border: 1px solid #1f1e1e;
}

.formPostTitle {
    font-size: 1.2rem;
}

