@import "/src/variables.module.scss";


.container {
    display: flex;
    justify-content: center;
    background-color: $gray-3;
    height: 100vh;

}



.content {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    background-color: $white;
    overflow: scroll;
}

.contentHeader {
    width: 100%;
    padding: 1.6875rem 2.3125rem;
    background: $black;
    color: $white;
    font-size: $size-20px;
    line-height: 1.3rem;
    font-weight: bold;
}





@media(max-width: 1000px) {

    .content {
        width: 80%;
    }
}

