@import "/src/variables.module.scss";

.button {
    width: fit-content;
    border: none;
    text-decoration: none;
    place-self: end;
    background:$black;
    color: $white;
    font-size: 1rem;
    padding: 0.4375rem $size-30px;
    cursor: pointer;
    text-transform: uppercase;
}


.button[disabled] {
    background-color: $gray-1;
    cursor: initial;

}