@import "/src/variables.module.scss";

.formPost {
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
    margin: 2.8125rem 2.375rem 2.1875rem;
    padding: $size-30px;
    border: 1px solid $gray-0;
}

.formPostTitle {
    font-size: 1.2rem;
}

@media(max-width: 500px) {

    .formPost {
        margin: 2.8125rem 1rem 2.1875rem;
    }

    
}