

.formPost {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 45px 38px 35px;
    padding: 30px;
    border: 1px solid #1f1e1e;
}

.formPostTitle {
    font-size: 1.2rem;
}

@media(max-width: 500px) {

    .formPost {
        margin: 45px 15px 35px;
    }

    
}