

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 5;
    left: 0px;
    top: 0px;
    justify-content: center;
    background: rgba(119, 119, 119, 0.800);
    animation: animeModal .3s forwards;

}

.modal {
    margin-top: 15vh;
    background: #fff;
    width: 35%;
    min-width: 300px;
    height: fit-content;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.modalTitle {
    font-weight: 400;
    font-size: 1rem;
}



.wrapper{
    display: flex;
    gap: 10px;
    place-self: end;
}

.modalButton {
    text-transform: initial;
    background: #fff;
    color: black;
    border: 1px solid black;
    transition: .2s;
}
.modalButton:hover {
background-color: black;
color: #fff;
}

@keyframes animeModal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media(max-width: 1000px) {
    .modal {
        width: 60%;
    }

}