@import "/src/variables.module.scss";

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 5;
    left: 0px;
    top: 0px;
    justify-content: center;
    background: $gray-1-80;
    animation: animeModal .3s forwards;

}

.modal {
    margin-top: 15vh;
    background: $white;
    width: 35%;
    min-width: calc($size-30px * 10);
    height: fit-content;
    padding: $size-30px;
    display: flex;
    flex-direction: column;
    gap: 2.1875rem;
}

.modalTitle {
    font-weight: 400;
    font-size: 1rem;
}



.wrapper{
    display: flex;
    gap: 0.625rem;
    place-self: end;
}

.modalButton {
    text-transform: initial;
    background: $white;
    color: $black;
    border: 1px solid $black;
    transition: .2s;
}
.modalButton:hover {
background-color: $black;
color: $white;
}

@keyframes animeModal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media(max-width: 1000px) {
    .modal {
        width: 60%;
    }

}