

$white: #fff;
$black: #000;
$gray-0: #383636;
$gray-1: #777;
$gray-1-80: rgba(119, 119, 119, 0.800);
$gray-2: #999;
$gray-3: #ddd;
$gray-4: #ccc;


$size-20px: 1.25rem;
$size-30px: 1.875rem;