

.postContainer {
    border: 1px solid #1f1e1e;
    margin: 20px 38px;
}


.postHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 27px 37px;
    background: #000;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.3rem;
    font-weight: bold;
}

.toolBox {
    display: flex;
    align-items: center;
    gap: 25px;
}

.toolBox img {
    cursor: pointer;
}

.postWrapper {
    padding: 30px;
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr  1fr;

}

.postUsername {
    grid-column: 1/2 ;
    color: #777;
    ;
}
.postTime {
    grid-column: 2/3 ;
    place-self: end;
    color: #777;
}

.postContent {
    grid-column: 1/4;
    word-break: break-all;
}

@media(max-width: 500px) {

    .postContainer {
        margin: 10px 15px;
    }

.postWrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        text-align: start;
        gap: 10px;
    }
.postUsername {
    grid-column: 1/2;
    
}

.postTime {
    grid-column: 2/3;
    place-self: start;
}

.postContent {
    grid-column: 1/-1;
    grid-row: 2;
}

}