@import "/src/variables.module.scss";

.postContainer {
    border: 1px solid $gray-0;
    margin: $size-20px 2.375rem;
}


.postHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.6875rem 2.3125rem;
    background: $black;
    color: $white;
    font-size: 1.2rem;
    line-height: 1.3rem;
    font-weight: bold;
}

.toolBox {
    display: flex;
    align-items: center;
    gap: 1.5625rem;
}

.toolBox img {
    cursor: pointer;
}

.postWrapper {
    padding: $size-30px;
    display: grid;
    gap: 1.5625rem;
    grid-template-columns: 1fr  1fr;

}

.postUsername {
    grid-column: 1/2 ;
    color: $gray-1;
    ;
}
.postTime {
    grid-column: 2/3 ;
    place-self: end;
    color: $gray-1;
}

.postContent {
    grid-column: 1/4;
    word-break: break-all;
}

@media(max-width: 500px) {

    .postContainer {
        margin: calc($size-20px/2) calc($size-30px/2);
    }

.postWrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        text-align: start;
        gap: calc($size-20px /2);
    }
.postUsername {
    grid-column: 1/2;
    
}

.postTime {
    grid-column: 2/3;
    place-self: start;
}

.postContent {
    grid-column: 1/-1;
    grid-row: 2;
}

}